<link rel="stylesheet" href="/css/swiper.css">
<!--Section: Contact v.2-->
<section class="contact_bg">

    <!--Section heading-->
    <div class="text-center">
        <h2 class="h1-responsive font-weight-bold text-center text-dark">Contact us</h2>
        <p class="mb-4 text-muted">Feel free to send us a message</p>
    </div>
    <!--Section description-->
    <!-- Bootstrap Icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div class="container-fluid px-5 ">
    <div class="row justify-content-center">
      <div class="col-xl-10">
 
            <!--Grid column-->
            <div class="col-md-12 mb-md-0 mb-5 ">
                <form name="contact-form" class="contact-form">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-3">
                                <input type="text" id="cname" name="cname" class="form-control" placeholder="Name">
                                
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-3">
                                <input type="text" id="cemail" name="cemail" class="form-control"placeholder="Email">
                                
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-4">
                                <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form mb-3">
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Text Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="text-center text-md-left mb-4">
                        <!-- <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a> -->
                        <input type="submit" class="submit btn btn-primary" value ="Send Message">
                    </div>
                    <div class="status"></div>
                </form>         
            </div>
        </div>


        </div>
    </div>
    <div class="container form-control mb-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d123540.67434718524!2d120.98569957847346!3d14.619226744798812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d14.619304!2d121.055641!5e0!3m2!1sen!2sph!4v1658251077463!5m2!1sen!2sph" width="1290" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class=""></iframe>
    </div>
    <div style="text-align:center ;"> Google Map</div>
</div>
</section>






<!-- script for contact us -->
<script src="/js/apps.js"></script>