<!-- main -->
<%- include('inc/homepage/swiper') -%>

 <!-- for gallery -->

<%- include('inc/homepage/gallery') -%>
<<<<<<< HEAD
=======

<!-- for chefs -->

<%- include('inc/homepage/Chefs') -%>
<!-- main -->
>>>>>>> 5ed015df09c4e1add847ee48caa86fb73484b7c7

<!-- Hot Meals -->
<link rel="stylesheet" href="/css/swiper.css">

 <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center">
          <h2 class="mb-4 mt-3">Hot Pizza Meals</h2>
          <p>In developizza we always show our best pizza we offer to you. Here is our hot meals for today</p>
        </div>
      </div>
    </div>
    <div class="container-wrap">
      <div class="row no-gutters d-flex">
        <div class="col-lg-4 d-flex">
          <div class="services-wrap d-flex">
            <img src="/img/pizza-1.jpg" alt="pizza-1" height="250px" style="padding-left: 15px;" />
            <div class="text p-4">
              <h3>Margherita</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia </p>
              <p class="price"><span>P250.0</span> </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex">
          <div class="services-wrap d-flex">
            <img src="/img/pizza-6.jpg" alt="pizza-6" height="250px" style="padding-left: 15px;" />
            <div class="text p-4">
              <h3>Marinara</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
              <p class="price"><span>P300.0</span></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex">
          <div class="services-wrap d-flex">
            <img src="/img/pizza-3.jpg" alt="pizza-3" height="250px" style="padding-left: 15px;" />
            <div class="text p-4">
              <h3>Carbonara</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
              <p class="price"><span>P200.0</span></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-flex">
          <div class="services-wrap d-flex">
            <img src="/img/pizza-4.jpg" alt="pizza-4" height="250px" style="padding-left: 15px;" />
            <div class="text p-4">
              <h3>Americana</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia </p>
              <p class="price"><span>P500.0</span></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex">
          <div class="services-wrap d-flex">
            <img src="/img/pizza-5.jpg" alt="pizza-5" height="250px" style="padding-left: 15px;" />
            <div class="text p-4">
              <h4>Chicken Pizza</h4>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
              <p class="price"><span>P350.0</span></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex">
          <div class="services-wrap d-flex">
            <img src="/img/pizza-2.jpg" alt="pizza-2" height="250px" style="padding-left: 15px;" />
            <div class="text p-4">
              <h4>Pepperoni</h4>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
              <p class="price"><span>P200.0</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- for chefs -->

<%- include('inc/homepage/Chefs') -%>
<!-- main -->

