<body>
    <main class="resto-page">
    <div class="container">
        <div class="title-page">
        <h1 class="text-2 p-5">Developizza Restaurant</h1>
        </div>

        <div class="resto-content">
            <div class="resto-details">
                <p>Develipizza is a small restaurant, Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Ab quam earum natus repellendus consequatur nobis enim, 
                    harum tempora molestias similique quo reprehenderit voluptatem, numquam unde 
                    quos debitis qui ducimus assumenda.</p>

                <h2 class="text-2">We Know What It Takes</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nobis aspernatur
                     voluptas voluptates tempora vel molestiae laudantium illum quos 
                    uibusdam officiis?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui incidunt minima in dolorum
                     earum dicta, explicabo accusamus at ullam iste fugit accusantium voluptatem voluptatibus!
                      Architecto aliquam quo quod culpa magnam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A aut, hic repellat magnam 
                    quidem cum inventore! Nemo maiores sit saepe aliquam minima assumenda, aperiam 
                    commodi cumque repudiandae recusandae</p>
            </div>
            <div class="resto-details">
                <img src="/img/resto.jpg" alt="...">
            </div>


        </div>

        <div class="comments pt-5">
            <div>
                <h2 class="text-2">What They're Saying About Us</h2>
            </div>
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner text-center">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> 
                        Voluptate et laboriosam assumenda aut! Id mollitia quos, <br>
                         dignissimos odio numquam doloribus ea veritatis deserunt <br>
                          obcaecati maxime rem quam, sit exercitationem impedit."</p>
                    <h5 class="text-3">-Jonny Silver</h5>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> 
                        Voluptate et laboriosam assumenda aut! Id mollitia quos, <br>
                         dignissimos odio numquam doloribus ea veritatis deserunt <br>
                          obcaecati maxime rem quam, sit exercitationem impedit."</p>
                    <h5>-Jose Abad</h5>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> 
                        Voluptate et laboriosam assumenda aut! Id mollitia quos, <br>
                         dignissimos odio numquam doloribus ea veritatis deserunt <br>
                          obcaecati maxime rem quam, sit exercitationem impedit."</p>
                    <h5>-Marry Grace</h5>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>

        <div class="about-owners pt-5">
            <h2 class="text-2">About The Owners</h2>
            <div class="owners">
                <h3 class="pt-3 text-3">Nike Fernandez</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eum reprehenderit ipsum qui quam perferendis quis iusto rem assumenda itaque molestiae accusantium, optio culpa similique sint vel voluptate, aut quos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officiis dignissimos eveniet. Distinctio similique dolorem dolore optio natus magnam? Labore ex, adipisci deleniti beatae sapiente magni nam et quasi porro.</p>
 
                <h3 class="pt-3 text-3">Paul Pastor</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, molestias quos consequatur, deserunt debitis quod similique ut, voluptatem assumenda maxime laborum itaque inventore iusto autem tempore illum a! Sint, dolore!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut fuga eos repellat qui quisquam ea dolorum magnam nobis voluptate vitae cumque, consequuntur ipsa, quod illum quidem minima tempore, recusandae molestias.</p>
            
                <h3 class="pt-3 text-3">Christian Gomonit</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eum reprehenderit ipsum qui quam perferendis quis iusto rem assumenda itaque molestiae accusantium, optio culpa similique sint vel voluptate, aut quos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officiis dignissimos eveniet. Distinctio similique dolorem dolore optio natus magnam? Labore ex, adipisci deleniti beatae sapiente magni nam et quasi porro.</p>
 
                <h3 class="pt-3 text-3">Johan Genuino</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, molestias quos consequatur, deserunt debitis quod similique ut, voluptatem assumenda maxime laborum itaque inventore iusto autem tempore illum a! Sint, dolore!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut fuga eos repellat qui quisquam ea dolorum magnam nobis voluptate vitae cumque, consequuntur ipsa, quod illum quidem minima tempore, recusandae molestias.</p>
            </div>
        </div>

        <div class="resto-kitchen pt-5 pb-5">
            <img src="/img/kitchen1.jpg" alt="...">
            <img src="/img/kitchen2.jpg" alt="...">
        </div>

    </div>
</main>

</body>
