<!-- would be for reviews and chefs -->
<link rel="stylesheet" href="/css/card.css">

<section class="section-chefs">
    <h1>Chefs</h1>
    <div class="container d-flex">
      <div class="card" style="width: 18rem;">
        <img src="/img/chef-1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chef 1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/img/chef-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chef 2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/img/chef-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chef 3</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    </div>
          
  </div>
</section>