<!-- would be for reviews and chefs -->
<link rel="stylesheet" href="/css/card.css">

<section class="section-chefs">
    <h1>Chefs</h1>
    <div class="container d-flex">
      <div class="card" style="width: 18rem;">
        <img src="/img/chef-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chef Aria Dawson</h5>
          <p class="card-text black-text">Chef Aria is a reowned chef in terms of serving pizza. </p>
          
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/img/chef-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Head Chef Mark Henson</h5>
          <p class="card-text black-text">Chef Mark has been serving pizza since the earliest time of Developizza and since then been acclaimed for foods he has made</p>
          
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/img/chef-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chef Baron Wiser</h5>
          <p class="card-text black-text">Chef Baron is our newest roster to the pizza team. He is quite known for his own style of Italian pizzas </p>
          
        </div>
      </div>
    </div>
          
  </div>
</section>