<link rel="stylesheet" href="/css/home-1.css">

<!-- this is design 1 in homepage. just change the include in home.ejs -->

<section class="home-1 bg-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
        <div class="home-text">
            <p class="text-1">Manila's Best</p>
            <p class="text-2">Pizza House</p>
            <p class="text-3">It just not a pizza, It’s an experience to behold. Empty and  feast on our best selling and award winning pizzas</p>
        </div>
    </div>  
</section>