<link rel="stylesheet" href="/css/swiper.css">

<!-- this is design 2 of homepage -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-1 bg-image">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
           <div class="home-text">
            <p class="text-1">Manila's Best</p>
            <p class="text-2">Pizza House</p>
            <p class="text-3">It just not a pizza, It’s an experience to behold. Emjpy and  feast on our best selling and award winning pizzas</p>
           </div>
        </div>
      </div>
      <div class="swiper-slide slide-2 bg-image">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
          <div class="home-text">
           <p class="text-1">Manila's Best</p>
           <p class="text-2">Pizza House</p>
           <p class="text-3">It just not a pizza, It’s an experience to behold. Emjpy and  feast on our best selling and award winning pizzas</p>
          </div>
       </div>
      </div>
      <div class="swiper-slide slide-3 bg-image">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
          <div class="home-text">
           <p class="text-1">Manila's Best</p>
           <p class="text-2">Pizza House</p>
           <p class="text-3">It just not a pizza, It’s an experience to behold. Emjpy and  feast on our best selling and award winning pizzas</p>
          </div>
       </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="/js/swiper.js"></script>

