* {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

body {
    background-color: red;
}

.navbar {
    background-color: #ebd1a1;
}

.homepage {
    margin-top: 3.5rem;
    /* background-color: #db5113; */
    min-height: 92.5vh;
}