.section-chefs {
    height: 100vh;
}

.section-chefs h1 {
    padding: 25px;
    text-align: center;
}

.container {
    justify-content: center;
    gap: 100px;
}

.card img {
    width: 100%;
    height: 400px;
}