.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {

  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-1 {
  background-image: url('/img/home-1.jpg');
}

.slide-2 {
  background-image: url('/img/home-2.jpg');
}

.slide-3 {
  background-image: url('/img/home-3.jpg');
}

.home-text {
  color: white;
  margin-left: 25%;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20vh;  
}

.text-1 {
  color: #EBD1A1;
  margin-left: 7px;
  font-size: 50px;
}

.text-2 {
  color: #DB5113;
  margin-top: -25px;
  font-size: 150px;
  line-height: 130px;

}

.text-3 { 
  color: #CCAB65;
  margin-left: 7px;
  font-size: 25px;
}

.swiper-button-next, .swiper-button-prev{
opacity: .4;
color: white;
}

.ftco-section 
{
  background-image: url('/img/bg_4.jpg');
}
.ftco-section p, h3, h4, h2
{
  color: #ffff;
}

.services-wrap .text .price span {
  color: #fac564; }

.contact_bg {
  background: url(/img/food.png) repeat;
  color: #5c3d03; }
  .contact_bg .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: #fac564;
    opacity: 0; }


    @media (max-width: 600.98px) {
      .ftco-section {
        background: none;
      }
      }
    
      @media (max-width: 991.98px) 
      {
          .services-wrap {
            margin-bottom: 30px; } 
        .services-wrap .img, .services-wrap .text {
          height: 100%;
        }
        .ftco-section p, h3, h4, h2
          {
            color: rgb(0, 0, 0);
          }
        .services-wrap .text {
          background: rgba(0, 0, 0, 0.2);
          }
          .services-wrap .text h3 {
            font-size: 20px; }
          .services-wrap .text .price {
            font-size: 16px;
            margin-bottom: 0; }
            .services-wrap .text .price span {
              color: #000000; }
          }


          @media (max-width: 380.98px) 
      {
          .services-wrap {
            margin-bottom: 10px;
          flex-direction: column-reverse; } 
          
        .ftco-section p, h3, h4, h2
          {
            color: rgb(0, 0, 0);
          }
          .services-wrap .text h3 {
            font-size: 20px; }
          .services-wrap .text .price {
            font-size: 16px;
            margin-bottom: 0; }
        }
            