<!-- main -->
<main class="homepage container text-center">
    <h1>All Orders</h1>
    <div class="container d-flex text-center justify-content-center align-items-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Orders</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Address</th>
                    <th scope="col">Status</th>
                    <th scope="col">Placed at</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
            </tbody>
        </table>
    </div>
</main>
<!-- main -->