<!-- main -->
<main class="cartpage container text-center d-flex flex-column align-items-center justify-content-center">
    <h1>Cart Empty</h1>
    <p>
        You probably haven't ordered a pizza yet.
        To order a pizza, go to the main page.
    </p>
    <a href="/" type="button" class="btn btn-warning">Go Back</a>
</main>
<!-- main -->